:root{
    --cor-primaria: #1b357e;
    --cor-secundaria: #1351d8;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

.fotoReduzida{
    width:10%;

}
.menuNavegacao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    gap:600px;

}

.menuNavegacao__icones{
    display: flex;
    width:300px; 
    /* outline: 1px solid red; */
    justify-content: space-between;
    color: var(--cor-secundaria);    
    font-family:Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}
    
.menuNavegacao__icones__links{
    text-decoration: none;

}

.principal{
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 85vh;
    /* width:500px; */
    gap:15px;
    
}
.principal__fotoRanger{
    width:85%;
}

.principal__textoImagem{
    display:flex;
    flex-direction: row;
    gap: 5px;
    font-size: 22px;
}

.rodape{
    display:flex;
    justify-content: space-around;
    color: white;
    background-color: var(--cor-primaria);
    padding: 10px;
    
    /* font-family: var(--fonte-secundaria); */
    font-size: 24px;
    gap:1200px;
    /* font-weight: 400; */
}

.rodape__links{
display:flex;
align-items: center;

}

/* -----------------------Página 2--------------------------- */



.pagina2VideoCarros{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 300px;

}

.pagina2VideoCarros__video{
    color: var(--cor-secundaria);    
    font-family:Arial, sans-serif;
    font-size: 200px;
    font-weight: bold;


}

.pagina2VideoCarros__carros{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 450px;

}